.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.messenger {
  padding: 8px;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: white;
  overflow: auto;
  font: 16px/1.3 sans-serif;
}

.messengerContainer {
  position: relative;
  width: 250px;
  height: 300px;
  border: 1px solid black;
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 10px;
}

.messengerContainer:after {
  content: ' ';
  background: linear-gradient(rgb(255, 143, 178) 0%, rgb(167, 151, 255) 50%, rgb(0, 229, 255) 100%);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  mix-blend-mode: screen;
  pointer-events: none;
}

.messenger li {
  list-style-type: none;
  margin: 2px 8px 2px 0;
  float: left;
  border-radius: 8px;
  padding: 8px;
  color: black;
  position: relative;
  z-index: 1;
  background: #eee;
}

.dialogsList a {
  text-decoration: none;
  color: darkslategray;
}

.messengerTextArea {
  width: 99%;
  border-radius: 5px;
}

.messengerButton {
  width: 200px;
  margin-top: 5px;
  border-radius: 5px;
}

li.messageSender {
  margin: 2px 0 2px 8px;
  align-self: flex-end;
  z-index: 0;
  background: cyan;
  color: white;
}

li img {
  height: 25px;
  width: 25px;
  background-color: #6fae9a;
  border-radius: 5px;
}

@supports (mix-blend-mode: screen) {
  .messagesContainer:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      rgb(255, 143, 178) 0%,
      rgb(167, 151, 255) 50%,
      rgb(0, 229, 255) 100%
    );
    mix-blend-mode: screen;
    pointer-events: none;
  }

  .messenger li.messageSender {
    background: black;
  }
}
