.headerLogo {
    width: 90px;
    height: 90px;
    margin-left: 20px;
}

.header {
    grid-area: header;
    background-color: cadetblue;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px;
}

.loginBlock a {
    text-decoration: none;
    color: black;
}

.loggedIn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.login {
    margin-right: 10px;
}