.sidebar {
  grid-area: sidebar;
  background-color: lightslategray;
  border-radius: 10px;
  text-indent: 20px;
  margin-left: 10px;
  padding-top: 15px;
}

.item a {
  text-decoration: none;
  color: lightgray;
}

.item .active {
  color: darkslategray;
  font-weight: bold;
}
