.container {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 'a b';
  grid-gap: 10px;
}

.avatar {
  grid-area: a;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  border: black 1px solid;
  margin-bottom: 25px;
}

.avatar a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar button {
  width: 200px;
  height: 40px;
  border-radius: 15px;
}
.userCard {
  grid-area: b;
  justify-self: start;
  border-radius: 15px;
  border: black 1px solid;
  justify-self: auto;
  margin-bottom: 25px;
  margin-right: 25px;
  margin-top: 25px;
}
