.App {
  display: grid;
  grid-template-areas:
    'header header'
    'sidebar content';
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 100px 1fr;
  grid-gap: 10px;
}

.content {
  padding-top: 15px;
  grid-area: content;
  background-color: lightgray;
  border-radius: 10px;
  text-indent: 20px;
  margin-right: 10px;
  min-height: 870px;
}
